<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SNS - Main</title>
</head>
    <body>
        <div class="card">
            <div class="nav_bar">
                <p class="logo">SNS</p>
                <div class="nav_list">
                    <div id="favourite_section">
                        <p class="nav_delimiter">Favourite</p>
                        <button class="nav_element" type="submit" id="music_button">Songs</button>
                        <button class="nav_element" type="submit">Playlists</button>
                        <button class="nav_element" type="submit">Performers</button>
                    </div>
                    <div id="settings_section">
                        <p class="nav_delimiter">Settings</p>
                        <button class="nav_element" type="submit" id="settings_section_account_button">Account</button>
                    </div>
                    <div id="performer_section">
                        <p class="nav_delimiter">Performer</p>
                        <button class="nav_element" type="submit" id="performer_section_music_button">Your music</button>
                    </div>
                </div>
                <div class="account_info">
                    <img class="account_avatar" src="../../../../test.png">
                    <p class="account_name">Red Hot Chili Peppers</p>
                </div>
            </div><!--
            --><div class="main_container">
                <div class="search_panel">
                    <input class="input_field" type="search" placeholder="Search..." id="search_bar">
                    <button class="search_parameter_button search_button_chosen" type="button" id="search_button_song">Song</button>
                    <button class="search_parameter_button" type="button" id="search_button_album">Album</button>
                    <button class="search_parameter_button" type="button" id="search_button_performer">Performer</button>
                </div><!--
            --><div class="content_container" id="songs_container">
                    <div class="music_columns">
                        <p class="column c1"></p>
                        <p class="column c2">Song</p>
                        <p class="column c2">Album</p>
                        <p class="column c2">Author</p>
                    </div>
               </div><!--
               --><div class="content_container hide" id="albums_container">
                </div><!--
                --><div class="content_container hide" id="performers_container">
                </div><!--
                --><div class="content_container hide" id="your_music_container">
                    <div class="your_music_card">
                        <input type="file" style="display: none" id="upload_album_image_input">
                        <button class="performer_section_icon_button" id="upload_album_image_button"><i class="fa-solid fa-upload"></i></button>
                        <button class="performer_section_icon_button" id="add_album_button"><i class="fa-solid fa-plus"></i></button>
                        <input class="input_field performer_card_element" id="new_album_name_field" type="text" placeholder="Album name">
                        <select class="performer_album_dropdown_list" id="performer_album_dropdown_list">
                            <option value="volvo">Новый альбом</option>
                            <option value="saab">Царь горы</option>
                            <option value="mercedes">Выход в город</option>
                            <option value="audi">Make some noize</option>
                        </select>
                        <div class="new_album_songs_list">
                            <p class="new_album_songs_list_title">Songs</p>
                            <input type="file" style="display: none" id="upload_song_input">
                            <button class="performer_section_icon_button" id="upload_song_button"><i class="fa-solid fa-upload"></i></button>
                            <button class="performer_section_icon_button" id="add_song_button"><i class="fa-solid fa-plus"></i></button>
                            <input class="input_field performer_card_element" id="new_song_name_field" type="text" placeholder="Song name">
                            <span class="performer_section_output_field" id="performer_section_output_field"></span>
                            <div class="performer_section_table_container">
                                <table class="performer_section_table" id="performer_section_table">
                                    <tr class="performer_section_table_row">
                                        <th class="performer_section_header">id</th>
                                        <th class="performer_section_header">name</th>
                                        <th class="performer_section_header">likes</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--
                --><div class="content_container hide" id="account_settings_container">
                </div><!--
                --><div class="player_panel">
                        <div class="player">
                            <div class="player_wrapper">
                                <div class="player_buttons_group">
                                    <button class="player_button" type="submit" id="player_previous_button"><i class="fa-sharp fa-solid fa-angles-left"></i></button>
                                    <button class="player_button" type="submit" id="player_play_button"><i class="fa-solid fa-play"></i></button>
                                    <button class="player_button" type="submit" id="player_next_button"><i class="fa-sharp fa-solid fa-angles-right"></i></button>
                                    <button class="player_button" type="submit"><i class="fa-regular fa-heart"></i></button>
                                </div>
                                <progress class="player_progress" id="player_progress" value="3" max="10">alo</progress>
                            </div>
                        </div>
                        <div class="current_song_panel">
                            <img class="current_song_album" id="current_song_album">
                            <div class="current_song_description">
                                <p class="current_song_name" id="current_song_name"></p>
                                <p class="current_song_performer" id="current_song_performer"></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <script type="module" th:src="@{/js/main.js}"></script>
        <script type="module" th:src="@{/js/api_utils.js}"></script>
        <script type="module" th:src="@{/js/songs_container.js}"></script>
        <script type="module" th:src="@{/js/albums_container.js}"></script>
        <script type="module" th:src="@{/js/performers_container.js}"></script>
    </body>
</html>